{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'aula_virtual/css/base.css' %}">
    {% block extra_css %} {% endblock %}
</head>
<body>
    <header>
        <section class="mensajes">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        {% block encabezado %} {% endblock %}
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'alta_alumno' %}">Alta Alumno</a></li>
            <li><a href="{% url 'baja_alumno' %}">Baja Alumno</a></li>
            <li><a href="{% url 'listar_alumnos' %}">Listado Alumnos</a></li>
            <li><a href="{% url 'enviar_consulta' %}">Enviar consulta</a></li>
        </ul>
    </nav>
    <main>
        {% block contenido %} {% endblock %}
    </main>
    <footer>
        {% include 'aula_virtual/anuncios/google.html' %}
        <p>Codo a codo 2023. Todos los derechos reservados.</p>
    </footer>
</body>
</html>