{% extends 'aula_virtual/base.html' %}
{% load static %}

{% block titulo %}Aula Virtual 2.0{% endblock %}

{% block encabezado %}
    <h1>Aula Virtual 2.0</h1>
    <p>Bienvenid@ {{user_name}} {{user_lastname}}</p>
{% endblock %}

{% block contenido %}
    <section>
        <h2>Usuario ficticio</h2>
        <p>Nombre: {{simulated_alumn.first_name}}</p>
        <p>Apellido: {{simulated_alumn.last_name}}</p>
        <p>Edad: {{simulated_alumn.age}}</p>

        {% if not simulated_alumn.valid %}
            <p style="color: red;"><b>Alerta!</b> Este usuario no está validado aún. Por favor contactarse con soporte.</p>
        {% endif %}
    </section>

    <section>
        <h2>Listado de alumnos</h2>

        {% for alumn in alumn_list %}
            <article>
                {% filter upper %}
                    <p>Nombre: {{alumn.first_name}}</p>
                {% endfilter %}
                <p>Apellido: {{alumn.last_name}}</p>
            </article>
        {% empty %}
            <p>No hay Alumnos cargados</p>
        {% endfor %}
    </section>

    <section>
        <h2>Un perrito</h2>
        <img src="{% static 'aula_virtual/img/perrito.jpg' %}" alt="Un perrito">
    </section>
{% endblock %}