{% extends 'aula_virtual/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'aula_virtual/css/listar_alumnos.css' %}">
{% endblock %}

{% block titulo %}Listado de Alumnos{% endblock %}

{% block encabezado %}
<h1>Aula Virtual 2.0</h1>
<h2>Listado de alumnos activos</h2>
{% endblock %}

{% block contenido %}
<section class="listado">
    {% for alumno in listado_alumnos %}
    <article>
        <p><b>Nombre</b>: {{alumno.nombre}}</p>
        <p><b>Apellido</b>: {{alumno.apellido}}</p>
        <p><b>Mail</b>: {{alumno.mail}}</p>
        <p><b>Dni</b>: {{alumno.dni}}</p>
        <p><b>Legajo</b>: {% if alumno.legajo %} {{alumno.legajo}} {% else %} <span class="vacio">Sin legajo
                cargado</span> {% endif %}</p>
    </article>
    {% empty %}
    <article>No hay Alumnos cargados</article>
    {% endfor %}
</section>
{% endblock %}